<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Đặt hàng thành công</h2>
        <p>Bạn có thể kiểm tra lại những sản phẩm đã đặt bên trong thông tin người dùng</p>
        <hr />
        <p>Cảm ơn!</p>
    </div>
</div>